*{
    box-sizing: border-box;
    margin: 32px;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.name{
    word-spacing: 20px;
    text-align: center;
    text-transform: uppercase;
}
.article{
    line-height: 28px;
}
.technology{
    margin: 0px;
    font-weight: 900;
    letter-spacing: 3px;
    font-size: 24px;
    opacity: 0.8;
    text-decoration: underline;
}
.wiki{
    text-decoration: none;
    margin: 0px;
}
.translate{
    color: grey;
    margin: 0px;
}